#home-s1 {
  .p-xl {
    color: var(--prose-dark-grey);
    padding-top: calc(32px + 2vw);
    max-width: 835px;
    margin: 0 auto;
  }

  .cloud-one {
    position: absolute;
    top: -17%;
    z-index: 4;
    right: 18%;
    width: calc(30px + 6vw);
    aspect-ratio: 1.2;
  }

  .cloud-two {
    position: absolute;
    bottom: 27%;
    z-index: 4;
    left: -5%;
    width: calc(50px + 6vw);
    aspect-ratio: 1.2;
  }

  .grid {
    // padding-top: calc(64px + 3vw);
    display: grid;
    gap: min(2vw, 24px);
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto;
    position: relative;

    .grid-item {
      position: relative;
      width: 100%;

      &:before {
        content: "";
        height: 0;
        display: inline-block;
        width: 100%;
        position: relative;
      }

      .content {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }

  #hero {
    &-decent {
      grid-area: 1 / 1 / 1 / 11;
    }

    &-lock-switch {
      grid-area: 1 / 11 / 1 / 15;
    }

    &-lock-toggle {
      grid-area: 1 / 13 / 1 / 15;
      display: grid;
      &:before {
        padding-top: 100%;
      }
    }

    &-earth {
      display: grid;
      place-items: center;
      grid-area: 2 / 2 / 2 / 4;
      &:before {
        padding-top: 100%;
      }
    }

    &-paper-plane {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: 2 / 4 / 2 / 10;
    }

    &-team {
      grid-area: 2 / 10 / 2 / 14;
    }

    &-messaging {
      grid-area: 3 / 1 / 3 / 9;
    }

    &-buoy-target {
      grid-area: 3 / 9 / 3 / 13;
    }

    &-arrow-up {
      display: grid;
      place-items: center;
      grid-area: 3 / 13 / 3 / 15;
      &:before {
        padding-top: 100%;
      }
    }
  }

  .pill {
    position: relative;
    border-radius: 100px;
    width: 100%;
    height: 100%;

    &-pink {
      background-color: var(--prose-pink);
    }

    &-blue {
      background-color: var(--prose-blue);
    }

    &-gradient-blue {
      background: linear-gradient(180deg, #6edbff 0%, rgba(110, 219, 255, 0) 100%);
    }
  }

  .circle-white {
    border-radius: 50%;
    position: relative;
    height: 80%;
    aspect-ratio: 1 / 1;
    background: linear-gradient(180deg, var(--prose-white) 0%, var(--prose-grey) 100%);
    display: grid;
    place-items: center;
    padding: 13%;
    box-shadow: 0px 2.5vw 5vw rgba(157, 66, 86, 0.64);

    .lock {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }

  .earth,
  .paper-plane {
    span {
      overflow: visible !important;
    }

    img {
      filter: drop-shadow(0px 2.5vw 2vw rgba(26, 146, 186, 0.53));
    }
  }

  .earth {
    display: grid;
    padding: 17%;
    place-items: center;
    aspect-ratio: 1/1;

    &-inner {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }

  .paper-plane {
    padding: 0 17%;
    margin-top: -4%;
  }

  .buoy-target {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(2vw, 24px);

    .buoy,
    .target {
      position: relative;
      width: 36%;
    }
  }

  .arrow-up {
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;

    svg {
      height: 60%;
      width: 60%;
    }
  }

  .buoy,
  .target {
    span {
      overflow: visible !important;
    }

    img {
      filter: drop-shadow(0px 2.5vw 2vw rgba(157, 66, 86, 0.63));
    }
  }
}

#home-s2 {
  .features-tabs {
    position: relative;

    &-toggles {
      max-width: fit-content;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 16px;
      overflow-x: scroll;
      padding: 0 24px 32px;
      z-index: 1;
    }

    &-content-wrapper {
      position: relative;
      width: 100%;
    }

    &-description {
      max-width: 850px;
      margin: 0 auto;
      padding: 0 0 16px 0;
      z-index: 0;
    }

    &-content {
      display: none;

      &.active {
        display: block;
      }
    }

    &-media {
      position: relative;

      .cloud {
        position: absolute;
        top: 25%;
        right: -5%;
        width: calc(80px + 6vw);
        aspect-ratio: 1.2;
      }

      .bubble {
        position: absolute;
        top: 25%;
        left: -2%;
        width: calc(30px + 6vw);
        aspect-ratio: 1;
        z-index: -1;
      }
    }
  }

  .feature-tab {
    cursor: pointer;
    padding: 16px calc(24px + 0.2vw);
    border-radius: 34px;
    font-weight: 600;
    outline: none;
    border: none;
    background: transparent;
    color: var(--prose-dark-grey);
    transition: all ease-in-out 0.15s;
    font-size: 18px;
    line-height: 22px;
    flex-grow: 0;
    white-space: nowrap;

    &:hover {
      box-shadow: 0px 11px 26px 0px #a19db620;
    }

    &.active {
      color: var(--prose-pink);
      background: var(--prose-white);
      box-shadow: 0px 11px 26px 0px #a19db630;
    }
  }
}

#home-s3 {
  .features-grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(2, 425px);
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px;

    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 425px);
    }

    @include phone() {
      grid-template-rows: repeat(4, 375px);
    }

    &-item {
      position: relative;
      padding: 40px;
      border-radius: 32px;
      color: var(--prose-white);
      display: flex;
      align-items: flex-end;

      h3,
      p {
        z-index: 2;
      }
    }

    .native {
      grid-area: 1 / 1 / 1 / 9;
      background: var(--prose-light-grey);
      color: var(--prose-dark-grey);

      @include tablet() {
        grid-area: 1 / 1 / 1 / 3;
      }

      .macbook {
        position: absolute;
        width: 442px;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

        @include tablet() {
          bottom: 40%;
          top: auto;
          width: calc(550px - 5vw);
        }

        @include phone() {
          bottom: 50%;
          width: min(400px, 100%);
        }
      }
    }

    .privacy {
      grid-area: 1 / 9 / 1 / 15;
      background: var(--prose-blue);

      @include tablet() {
        grid-area: 2 / 1 / 2 / 2;
      }

      @include phone() {
        grid-area: 2 / 1 / 2 / 3;
      }

      .darker-text {
        color: #27a4cd;
      }

      .shield {
        position: absolute;
        height: 224px;
        width: 200px;
        top: -40px;
        left: 40px;
        z-index: 0;

        @include tablet() {
          top: -20px;
          height: 30%;
        }

        span {
          overflow: visible !important;
        }

        img {
          filter: drop-shadow(0px 34px 25px rgba(26, 146, 186, 0.68));
        }
      }
    }

    .oss {
      grid-area: 2 / 1 / 2 / 8;
      background: var(--prose-pink);

      @include tablet() {
        grid-area: 2 / 2 / 2 / 3;
      }

      @include phone() {
        grid-area: 3 / 1 / 3 / 3;
      }

      .title-sm {
        width: 50%;

        @include desktop() {
          width: 60%;
        }

        @include tablet() {
          width: 100%;
        }
      }

      .darker-text {
        color: #e85677;
      }

      .folder {
        position: absolute;
        width: 246px;
        top: -20px;
        right: 40px;
        z-index: 0;

        @include tablet() {
          max-height: 50%;
          width: calc(175px + 5vw);
        }

        span {
          overflow: visible !important;
        }

        img {
          filter: drop-shadow(0px 34px 25px rgba(157, 66, 86, 0.12));
        }
      }
    }

    .decent {
      grid-area: 2 / 8 / 2 / 15;
      background: var(--prose-navy);
      flex-direction: column;
      gap: 12px;
      align-items: center;
      justify-content: center;

      @include tablet() {
        grid-area: 3 / 1 / 3 / 3;
      }

      @include phone() {
        grid-area: 4 / 1 / 4 / 3;
      }

      .globe {
        position: absolute;
        padding-top: 48px;
        height: 418px;
        width: 318px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;

        @include phone() {
          width: 300px;
        }
      }
    }
  }
}

#home-s4 {
  background-color: var(--prose-quasi-white);

  .title-md {
    margin-bottom: 80px;
  }

  .icon-features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 64px;
    row-gap: 80px;

    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include phone() {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .icon-feature {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-icon {
      width: 64px;
      height: 64px;
      display: grid;
      place-items: center;
      background: var(--prose-light-grey);
      border-radius: 16px;
    }
  }

  .btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
}
