/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * ELEMENTS > FONTS
 * **************************************************************************/

// Helvetica Neue

@font-face {
  font-weight: lighter;
  font-style: normal;
  font-family: "Prose Helvetica Neue";
  src: url("/fonts/helvetica_neue/helvetica_neue_light.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Prose Helvetica Neue";
  src: url("/fonts/helvetica_neue/helvetica_neue_regular.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Prose Helvetica Neue";
  src: url("/fonts/helvetica_neue/helvetica_neue_medium.woff2") format("woff2");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: "Prose Helvetica Neue";
  src: url("/fonts/helvetica_neue/helvetica_neue_bold.woff2") format("woff2");
}

// Sora

@font-face {
  font-weight: lighter;
  font-style: normal;
  font-family: "Prose Sora";
  src: url("/fonts/sora/sora_light.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Prose Sora";
  src: url("/fonts/sora/sora_regular.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Prose Sora";
  src: url("/fonts/sora/sora_medium.woff2") format("woff2");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: "Prose Sora";
  src: url("/fonts/sora/sora_bold.woff2") format("woff2");
}
