#cta {

  .cta-content {
    position: relative;
    background-color: var(--prose-navy);
    background-image: url("/images/bg-cta.png");
    background-size: cover;
    background-position: center center;
    color: var(--prose-white);
    border-radius: 32px;
    padding: 64px;
    height: 480px;
    overflow: hidden;
    max-width: 1380px;
    margin: 0 auto;

    @include phone() {
      padding: 40px;
    }

    .cta-text {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
      max-width: 440px;
    }

    .title-lg {
      margin-bottom: 0px;
    }

    .p-xl {
      color: var(--prose-grey);
    }

    .btn {
      margin-top: 40px;
    }

    .app-icon {
      position: absolute;
      right: 0;
      bottom: -25%;
      width: 50%;
      transform: rotate(-25deg);

      @include tablet() {
        right: -50px;
        bottom: -75px;
      }
    }
  }
}
