.faq-wrapper {
  background-color: var(--prose-navy);
  border-radius: 24px;
  padding: 112px;
  color: var(--prose-white);
  position: relative;
  padding-bottom: 180px;

  @include tablet() {
    padding: 64px;
    padding-bottom: 96px;
  }

  * {
    z-index: 1;
    position: relative;
  }

  .title-lg {
    margin-bottom: 80px;
  }

  .ellipse-top-left {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
    z-index: 0;
    border-top-left-radius: 24px;
    overflow: hidden;
  }

  .ellipse-bottom-right {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 0px;
    right: 0px;
    z-index: 0;
    border-bottom-right-radius: 24px;
    overflow: hidden;
  }

  .monitor {
      margin-bottom: -50%;
  }
}

details {
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
}

summary {
  outline: none;
  padding: 24px 0;
  text-align: left;
  cursor: pointer;
  position: relative;
  list-style: none;
}

details {
  p {
    margin-bottom: 24px;
  }
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

details > summary::after {
  position: absolute;
  content: url("/images/chevron-down.svg");
  width: 24px;
  height: 24px;
  right: 20px;
  transition: transform 0.15s ease-in-out;
}

details[open] > summary::after {
  transform: rotate(180deg);
}

details > summary::-webkit-details-marker {
  display: none;
}
