.header {
  height: 80px;
  margin-top: 20px;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--prose-white);
  z-index: 99;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .logo svg {
    width: 120px;
    height: 45px;
  }

  ul {
    padding: 0;
  }

  &-links, &-cta {
    display: flex;
  }
}

.nav-links {
  gap: 64px;

  @include tablet() {
    display: none;
  }
}

.nav-cta {
  gap: 16px;

  @include tablet() {
    display: none;
  }
}

.nav-menu-toggle {
  outline: none;
  border: none;
  background-color: var(--prose-light-grey);
  border-radius: 50px;
  display: none;
  place-items: center;

  height: 52px;
  width: 52px;

  @include tablet() {
    display: grid;
  }
}
