html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sora", -apple-system, sans-serif;
}

body {
  color: var(--prose-navy);
  line-height: 1.5;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;

  & .contained {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.pad-x {
  padding-left: min(calc(24px + 1.8vw), 48px);
  padding-right: min(calc(24px + 1.8vw), 48px);

  @include phone() {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.pad-y {
  padding-top: calc(80px + 2.5vw);
  padding-bottom: calc(80px + 2.5vw);
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.navy {
  color: var(--prose-navy);
}

.dark-grey {
  color: var(--prose-dark-grey);
}

.grey {
  color: var(--prose-grey);
}

.light-grey {
  color: var(--prose-light-grey);
}

.highlight-one {
  position: relative;
  white-space: nowrap;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 200%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("/images/highlight-one.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.highlight-two {
  position: relative;
  white-space: nowrap;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 250%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("/images/highlight-two.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.highlight-three {
  position: relative;
  white-space: nowrap;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 250%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("/images/highlight-three.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.title-md .highlight-two::before {
  top: 80%;
  width: 140%;
}

.title-md .highlight-three::before {
  top: 80%;
  width: 180%;
}

.flagged {
  position: relative;

  * {
    z-index: 2;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    width: 156px;
    height: 254px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("/images/flag.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include tablet() {
      width: 125px;
      height: 160px;
      top: 20px;
    }
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.separator {
  height: 2px;
  width: 100%;
  background-color: var(--prose-light-grey);

  &.dark {
    background-color: var(--prose-grey);
  }
}

.no-break {
  white-space: nowrap;
}
