.title-xl {
  @include fluid-type(320px, 1200px, 25px, 110px);
  // font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2622;
  letter-spacing: 0em;
}

.title-md {
  @include fluid-type(320px, 1200px, 32px, 48px);
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 64px;

  &.contained {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title-sm {
  @include fluid-type(320px, 1200px, 22px, 36px);
  font-weight: 600;
  line-height: 1.25;
}

.title-xs {
  @include fluid-type(320px, 1200px, 18px, 20px);
  font-weight: 600;
  line-height: 1.25;
}

.p-xl {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;

  @include tablet() {
    font-size: 18px;
    line-height: 26px;
  }
}
