:root {
  --prose-navy: #2c245e;
  --prose-blue: #6edbff;
  --prose-pink: #ff88a3;
  --prose-white: #fff;
  --prose-quasi-white: #FCFCFD;
  --prose-light-grey: #F5F6FA;
  --prose-grey: #D4D1E2;
  --prose-dark-grey: #A19DB6;
}
