/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * UTILITIES > INLINE
 * **************************************************************************/

.u-semibold {
  font-weight: $font-weight-semibold !important;
}

.u-medium {
  font-weight: $font-weight-medium !important;
}

.u-regular {
  font-weight: $font-weight-regular !important;
}

.u-code {
  font-family: $font-family-code, Hack, sans-serif;
}

.u-italic {
  font-style: italic !important;
}

.u-underline {
  text-decoration: underline !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}

.u-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
