/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * UTILITIES > INLINE
 * **************************************************************************/

.u-bold {
  font-weight: $font-weight-bolder !important;
}

.u-medium {
  font-weight: $font-weight-medium !important;
}

.u-regular {
  font-weight: $font-weight-regular !important;
}

.u-light {
  font-weight: $font-weight-light !important;
}

.u-title {
  font-family: $font-family-title, Sora, Arial, sans-serif;
}

.u-cursive {
  font-family: $font-family-cursive, Zapfino, serif;
}

.u-italic {
  font-style: italic !important;
}

.u-underline {
  text-decoration: underline !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}

.u-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
