/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > SIZES
 * **************************************************************************/

// Page

$page-wrapper-max-width: 1200px;

$page-header-height: 72px;
$page-header-announcement-height: 44px;

// Screen

$screen-large-width-breakpoint: $page-wrapper-max-width;
$screen-medium-width-breakpoint: 1020px;
$screen-small-width-breakpoint: 880px;
$screen-tiny-width-breakpoint: 640px;
$screen-lilliput-width-breakpoint: 540px;
