/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > FONTS
 * **************************************************************************/

// Families

$font-family-default: "Prose Outfit";
$font-family-code: "Prose Hack";

// Weights

$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
