/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > SIZES
 * **************************************************************************/

// Page

$page-wrapper-max-width: 1440px;

$page-wrapper-default-padding-sides: 128px;
$page-wrapper-medium-padding-sides: 64px;
$page-wrapper-small-padding-sides: 24px;
$page-wrapper-tiny-padding-sides: 20px;
$page-wrapper-lilliput-padding-sides: 16px;

$page-header-height: 80px;
$page-header-bar-height: 60px;
$page-header-announcement-height: 44px;

// Section

$section-form-margin-top: 60px;

// Screen

$screen-large-width-breakpoint: $page-wrapper-max-width;
$screen-medium-width-breakpoint: 1020px;
$screen-small-width-breakpoint: 880px;
$screen-tiny-width-breakpoint: 640px;
$screen-lilliput-width-breakpoint: 540px;
