/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > FONTS
 * **************************************************************************/

// Families

$font-family-default: "Prose Helvetica Neue";
$font-family-title: "Prose Sora";
$font-family-cursive: "Prose Zapfino";

// Weights

$font-weight-bolder: 800;
$font-weight-medium: 600;
$font-weight-regular: 400;
$font-weight-light: 200;
