/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > COLORS
 * **************************************************************************/

// Black

$color-black: #000000;

// White

$color-white: #ffffff;

// Bases

$color-base-blue-dark: #2b255d;
$color-base-blue-mid: #518eea;
$color-base-blue-light: #6edcff;
$color-base-blue-link: #4233be;
$color-base-grey-dark: #81899b;
$color-base-grey-mid: #a4a4ae;
$color-base-grey-light: #f5f6fa;
$color-base-black-mid: #1d1d28;
$color-base-green-mid: #00ab7e;
$color-base-pink-light: #f67086;
$color-base-purple-light: #a19db6;
$color-base-purple-mid: #644eb4;
$color-base-purple-alt: #9f6dbd;

// Backgrounds

$color-background-primary: $color-white;
$color-background-secondary: #fbfbfc;
$color-background-tertiary: rgba(#f6f7fb, 0.9);

// Borders

$color-border-secondary: rgba(#2b255d, 0.12);
$color-border-tertiary: rgba(#2b255d, 0.09);

// Buttons

$color-button-dark-normal: $color-base-blue-dark;
$color-button-dark-darker: #211c50;
$color-button-dark-reverse: $color-white;
$color-button-light-normal: rgba(#4f4e58, 0.04);
$color-button-light-reverse: rgba($color-black, 0.11);
