/*
 * This file is part of prose-web
 *
 * Copyright 2022, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > COLORS
 * **************************************************************************/

// Black

$color-black: #000000;

// White

$color-white: #ffffff;

// Bases

$color-base-blue-dark: #2b255d;
$color-base-blue-mid: #8683a3;
$color-base-blue-light: #6edcff;
$color-base-blue-link: #4233be;
$color-base-grey-dark: #78788e;
$color-base-grey-mid: #a4a4ae;
$color-base-grey-light: #f5f6fa;
$color-base-black-mid: #1d1d28;
$color-base-pink-light: #ff88a3;

// Backgrounds

$color-background-primary: $color-white;
$color-background-secondary: #fbfbfc;

// Borders

$color-border-secondary: rgba(43, 37, 93, 0.12);
